.main-video-container{
    width: 100%;
    height: 100%;
    margin: auto;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;

}
.video-card-div{
    width: 30%;
    height: auto;
    margin: 12px;
    border-radius: 15px;
    cursor: pointer;
}
.video-card-div > .img-div{
    width: 100%;
    height: 30vh;
    border-radius: 15px;
    margin-bottom: 10%;
}
.video-card-div > .img-div >img{
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.card-info-div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}
.card-info-div > img{
    width: 15%;
    height: 7vh;
    border-radius: 50%;
}
.card-info-div > .title-div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 0px 10px;
}
.title-div > h1{
    font-size: 20px;
    font-weight: 500;
    font-family: math;
}
.title-div > h2{
    color: #756f6f;
    font-size: 16px;
    font-weight: 100;
    font-family: math;
}
.views_and-time{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
    width: 43%;
    color: #756f6f;

}
.time{
    position: relative;
    top: 95%;
    left: 84%;
    background: black;
    display: inline;
    color: white;
    padding: 0px 6px;
    border-radius: 5px;
}