.home-container{
    /* display: grid;
    grid-template-columns: 15% 85%; */
    width: 100%;
    height: 100vh;
    /* border: 2px solid green; */
}
.routing-page{
    width: 84%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    left: 16%;
    top: 15%;
}